<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Design your Taco!</h1>
<img th:src="@{/images/Taco.jpg}"/>
<form method="POST" th:object="${taco}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Wybierz swój Placek:</h3>
            <div th:each="ingredient : ${wrap}"> <!-- ze wszystkich składników szuka wrapów -->
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/> <!-- wrzucamy wrapy w checkbox --> <!-- czemu po id? -->
                <span th:text="${ingredient.name}">INGREDIENT</span><br/> <!-- INGREDIENT - tymczasowa "NAZWA" która zostanie zastąpiona nzawą danego składnika, pyt czy mogę tam wpisać co chce i czy musi być z dużych liter -->
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Wołowina czy Kurczok:</h3>
            <div th:each="ingredient : ${protein}"> <!-- czy my tu poprostu tworzymy tymczasową zmienną ingredient której przypisujemy rodzaj miesa? -->
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Z Sera czy bez:</h3>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Ty być homo?:</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Czosnek jak do kebaba:</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Nazwij swe dzieło:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Submit Your Taco</button>
    </div>
</form>
</body>
</html>